.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navbar ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.navbar ul li:hover {
    color: black;
}

.navbar .link {
    text-decoration: none;
    color: grey;

}

.navbar .link:hover {
    color: black;
}

.navbar ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}