.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 25vh;
    max-width: 480px;
    margin: 25vh auto;

}

.login .title {
    color: #0044c0;
    font-size: 25px;
    border-bottom: #0044c0 3px solid;
    margin-bottom: 50px;
}

.login form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login form input {
    outline: none;
    border: none;
    background: transparent;
}

.login .email {
    border-radius: 8px;
    background: #d8e3f5;
    padding-left: 10px;
    display: flex;
    height: 40px;
    width: 25rem;
}

.error-message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    color: red;
    font-size: 8;
}

.login .password {
    border-radius: 8px;
    background: #d8e3f5;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
}

.btn {
    background-color: 'red';
    border: none;

    margin-top: 25px;
    height: 100px;
}