.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.post-card {
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: center;
    align-items: center;
}

.post-card .text {
    padding: 12px;
    display: flex;
    text-align: start;
    width: 95%;
}

.home .image img {

    display: flex;
    width: 100%;

}